<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Scripts/angular.js"></script>
</head>
<body ng-app>
<div>Are you from Hyderabad?
<input type="checkbox" ng-model="city"> Yes/No
</div>
<br>
Select City :
<select>
    <option>Select your City.</option>
    <option>Delhi</option>
    <option ng-selected="city">Hyderabad</option>
    <option>Mumbai</option>
</select>
<br><br>
<fieldset>
    <legend>License Terms</legend>
    <textarea rows="5" cols="80">
        License Terms & Conditions can be applied on the following Products..
        Please read carefully.
    </textarea>
    <br>
    <input type="checkbox" ng-model="terms">
    Accept terms of Services
    <br><br>
    <button ng-disabled="!terms">Register</button>
</fieldset>
</body>
</html>