<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Scripts/angular.js"></script>
    <link rel="stylesheet" href="node-modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app>
<div class="container">
    <form name="form1" novalidate>
        <h2>Register User</h2>
        <div class="form-group" ng-class="{'has-error':form1.txtName.$invalid}">
            <labelfor = "txtName" class="control-label col-sm-3"> User Name</label>
            <div class="col-sm-6">
                <input type="text" name="txtName" ng-maxlength="10" ng-model="txtName" required class="form-control">
            </div>
            <span class="col-sm-3 text-danger" ng-show="form1.txtName.$error.required">User Name Required</span>
        </div>
        <div class="form-group" ng-class="{'has-error':form1.txtEmail.$invalid}">
            <labelfor ="txtEmail" class="control-label col-sm-3">Email</label>
            <div class ="col-sm-6">
                <input type="email" ng-model="txtEmail" name="txtEmail" class="form-control">
            </div>
            <span class="col-sm-3 text-danger" ng-show="form1.txtEmail.$error.email">Invalid Email Address</span>
        </div>
        <div class="form-group">
            <labelfor ="txtTerms" class ="control-label col-sm-3">License Terms</div>
        <div class="col-sm-6">
            <textarea rows="4" cols="40" readonly name="textTerms" class="form-control">WebStorm 2017.1.2
                Build #WS-171.4249.40, built on April 25, 2017
                Licensed to avinil
                JRE: 1.8.0_112-release-736-b21 amd64
                JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
                Windows 10 10.0</textarea><br>
            <input type="checkbox" ng-model="terms">Accept Terms
        </div>
        </div>
<div class="form-group">
    <input type="button" ng-disabled="!terms" value="Register" class="btn-block btn-primary btn-sm">
</div>
    </form>
</div>
</body>
</html>