<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Scripts/angular.js"></script>
    <script>
        var app=angular.module('myApp',[]);
        app.controller('HomeController', function ($scope) {
            $scope.txtEmail="";
            $scope.msg="";
            $scope.Verify=function () {
                $scope.atpos=$scope.txtEmail.indexOf("@");
                $scope.dotpos=$scope.txtEmail.lastIndexOf(".");
                if($scope.atpos<2 || ($scope.dotpos - $scope.atpos)<1)
                {
                    $scope.msg="Invalid Email.";
                }
                else
                {
                    $scope.msg="Email Verified.";
                }
            }
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="HomeController">
<form>
    Email : <input type="text" ng-model="txtEmail">
    <span>{{msg}}</span><br>
    <button ng-click="Verify()">Verify</button>
</form>
</body>
</html>