<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Scripts/angular.js"></script>
    <script>
        var app=angular.module('myApp',[]);
        app.controller('HomeController',function ($scope, $window) {
            $scope.OpenHome=function () {
                $window.open('Demo.html','Home','width=400 height=600');
            }
            $scope.PrintPage=function () {
                $window.print();
            }
            $scope.ClosePage=function () {
                $window.close();
            }
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="HomeController">
<button ng-click = "OpenHome()">Open Page</button>
<button ng-click="PrintPage()">Print Page</button>
<button ng-click="ClosePage()">Close Page</button>
<h2>Click Print Button to Print Page</h2>
</body>
</html>